body {
    font-family: 'Roboto Slab', serif;
}

ul {
    text-align: right;
    display: block;
    margin-bottom: 50px;
}

ul li {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 18px;
    line-height: 35px;
    padding: 0 20px;
    background-color: rgb(161, 78, 71);
}

.header {
    margin-top: 100px;
}

.flexible {
    display: flex;
}

.darkred {
    color: darkred;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    color: rgb(143, 42, 42);
}

p {
    color: rgb(201, 109, 109);
}

.half-width {
    color: #6e6e6e;
    width: 60%;
    margin-left: 50px;
}

.half-width img {
    width: 90%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(241, 58, 26), rgb(110, 26, 26));
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}

.middle-container {
    background-image: url(7.png);
    background-position: top;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 30px;
}

.half-width-person {
    width: 45%;
}

.half-width-person img {
    width: 55%;
    margin-left: 100px;
}

.recipi-item {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.recipie {
    box-shadow: inset 0px -1px 3px 8px hsla(0, 33%, 93%, 0.884);
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 10%;
    margin: 20px 40px;
    margin-bottom: 80px;

}

.form {
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 10px 10px;
    display: inline-block;
    text-align: center;
    margin-left: 40%;
}

.footer {
    text-align: center;
    background-color: #0a0d16;
    padding-top: 10px;
    padding-bottom: 10px;
}